
.full-width-table{
	width: 100%;
	cursor: pointer;
	
}
.full-width-table .testnumber:hover{
	text-decoration: underline;
	
}
.form-check{
	margin: 5% 5%;
	
}
.panel-title{
	width: 100%;
	background: #007bff;
	padding: 2%;
	color: white;
}